@import "const";
@import "utils";

.BlogArticleHero {
    $root: &;

    position: relative;
    color: $c-color-primary;

    &:before {
        content: ' ';
        position: absolute;
        top: -100px;
        left: 30px;
        right: 250px;
        height: 1042px;
        background: linear-gradient(135deg, #F3805E 0.04%, #FCC690 44%, #D4C79A 60.98%, #7CC9B0 93.95%);
        opacity: 0.2;
        border-radius: 50%;
        filter: blur(60px);
        z-index: 10;

        @media #{$tablet} {
            top: -50px;
            left: 30px;
            right: -100px;
            height: 893px;
            opacity: 0.3;
        }

        @media #{$phone} {
            top: 60px;
            left: -10px;
            right: -100px;
            height: 480px;
            filter: blur(35px);
            opacity: 0.4;
        }
    }

    &-close {
        position: relative;
        display: block;
        width: 250px;
        font-weight: bold;
        font-size: 28px;
        line-height: 35px;
        letter-spacing: -1px;
        color: $c-color-secondary;
        padding-top: 154px;
        font-family: "GT America";
        transition: opacity $c-ease-primary;
        z-index: 11;

        .isDesktop &:hover {
            opacity: .7;
        }

        @media #{$tablet} {
            width: 210px;
            font-size: 24px;
            line-height: 30px;
            padding-top: 149px;
        }

        @media #{$phone} {
            width: 116px;
            font-size: 14px;
            line-height: 20px;
            padding-top: 112px;
        }
    }

    &-wrapper {
        padding-bottom: 160px;
        display: flex;
        justify-content: space-between;

        @media #{$tablet} {
            flex-direction: column;
            padding-bottom: 80px;
        }

        @media #{$phone} {
            flex-direction: column;
            padding-bottom: 80px;
        }
    }

    &-inner {
        position: relative;
        padding-top: 183px;
        z-index: 11;

        @media #{$tablet} {
            order: 1;
            padding-top: 58px;
        }

        @media #{$phone} {
            order: 1;
            padding-top: 61px;
        }
    }

    &-posted {
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -.5px;
        display: flex;
        margin-bottom: 24px;

        @media #{$tablet} {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 10px;
        }

        @media #{$phone} {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 8px;
        }

        &Date {
            margin-right: 16px;

            @media #{$tablet} {
                margin-right: 12px;
            }

            @media #{$phone} {
                margin-right: 10px;
            }
        }

        &Post {
            a {
                color: $c-color-secondary;
                transition: opacity $c-ease-primary;

                .isDesktop &:hover {
                    opacity: .7;
                }
            }
        }
    }

    &-title {
        width: 600px;
        font-size: 62px;
        line-height: 71px;
        letter-spacing: -2px;
        font-weight: bold;
        font-family: "GT America";
        z-index: 11;

        @media #{$tablet} {
            font-size: 52px;
            line-height: 62px;
        }

        @media #{$phone} {
            width: 299px;
            font-size: 32px;
            line-height: 40px;
        }
    }

    &-image {
        position: relative;
        margin-top: -40px;
        z-index: 11;

        @media #{$tablet} {
            margin-top: -17px;
            margin-left: auto;
        }

        @media #{$phone} {
            margin-top: 4px;
            margin-left: auto;
        }

        &:before {
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 510px;
            background: linear-gradient(-55deg, rgba(196, 196, 196, 0) 0%, rgba(249, 210, 157, 0.55) 43.98%, rgba(221, 120, 78, 0.7) 75.81%);
            opacity: 0.7;
            border-radius: 50%;
            z-index: 10;

            @media #{$tablet} {
                height: 435px;
            }

            @media #{$phone} {
                height: 249px;
            }
        }

        img {
            width: 510px;
            height: 510px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;

            @media #{$tablet} {
                width: 435px;
                height: 435px;
                float: right;
            }

            @media #{$phone} {
                width: 249px;
                height: 249px;
                float: right;
            }
        }
    }
}
