syntax: glob

*.pyc
*.stats.json
*.stats.new.json
._.DS_Store
.DS_Store
.git/
.idea
.npm-debug.log
.venv/
db.sqlite3
npm-debug.log
yarn-error.log
yarn.lock
celerybeat-schedule

node_modules/
build/
static/
media/

palmpalm/migrations/
tools/files/migrations/

assets/app/cms/styles/static-url.less
assets/app/front/static-url.less

assets/js/django_js_front_api/reverse.js
assets/js/django_js_front/reverse.js
assets/js/django_js_control_login/reverse.js
assets/js/django_js_control/reverse.js
assets/js/django_js_cms_login/reverse.js
assets/js/django_js_cms/reverse.js
