{% import 'front/utils/macros.jinja' as macros %}

{% macro IndexHeroBottle() %}
    <div class="IndexHeroBottle" data-assets-folder="{{ static('img/front/IndexHeroBottle/') }}">
    </div>
{% endmacro %}