{% extends 'front/Base.jinja' %}

{% block content %}
    <div class="Section">
        <div class="Section-content">
            {% block section_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
