@import "const";
@import "utils";


.Index {
    $root:&;

    display: block; //for ie

    &-content {
        position: relative;
        width: 100%;
    }

    &-contentWrapper {
        position: relative;
        overflow-x: hidden;
    }
}
